<footer>
  <div class ="footer-blocks">
    <div class="email-us">
      {{page.footer_first}}
    </div>
    <div class="main-footer">
      {{page.footer_second}}
    </div>
    <div class="footer-social-links">
      {{page.footer_third}}
    </div>
    <div class="footer-travel-details">
    {{page.footer_fourth}}
    </div>
    <div class="footer-credits">
    {{page.footer_eight}}
    </div>
    <div class="footer-credits">
    {{page.footer_fifth}}
    </div>
    <div class="social-links">
      {{page.footer_sixth}}
    </div>
    <div class="right-functional-buttons">
    {{page.footer_seven}}
    </div>
  </div>
</footer>




