{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
<div class="container">
  <nav role="navigation" aria-label="breadcrumb" style="{{breadcrumb_divider}}">
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if item.url %}
        <li class="breadcrumb-item">
    
          {% if item.text is empty and item.url =='/boat-rentals' %}
          <a href="{{ item.url }}">Boat Rentals</a>
          {% else %}
          <a href="{{ item.url }}">{{ item.text }}</a>
          {% endif %}
        </li>
      {% else %}
        <li class="breadcrumb-item active">
          {{ item.text }}
        </li>      
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
</div>
{% endif %}