{% import "menu-levels.html.twig" as menu %}
  
  {# {{ menu.menu_links(items, attributes, 0) }} #}
  
  {% import _self as menus %}
  
  {#
    We call a macro which calls itself to render the full tree.
    @see http://twig.sensiolabs.org/doc/tags/macro.html
  #}
  {{ menus.menu_links(items, attributes, 0) }}
  
  {% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
      {% if menu_level == 0 %}
        <ul{{ attributes.addClass('nav')|without('id') }}>
      {% else %}
        <ul class="menu">
      {% endif %}
      {% for item in items %}
      
        {%
          set classes = [
            'nav-item',
            item.is_expanded ? 'menu-item--expanded',
            item.is_collapsed ? 'menu-item--collapsed',
            item.in_active_trail ? 'menu-item--active-trail',
          ]
        %}
        
        <li{{ item.attributes.addClass(classes) }}>
          {%
            set link_classes = [
              'nav-link',
              item.in_active_trail ? 'active',
              item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(''),
              'nav-link-' ~ item.url.toString() | clean_class,
            ]
          %}
          {%
            set btn_secondary = [
            'nav-link',
            'btn btn-secondary',
            item.in_active_trail ? 'active',
            item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(''),
            'nav-link-' ~ item.url.toString() | clean_class,
  
            ]
  
            %}
          
           <div class="right-nav">
           {% if loop.last %}
 
            <a href="{{ item.url }}" class="btn btn-secondary"> {{ item.title|replace({'FREE': '<span class="yellow">FREE</span>'})|raw }}</a>
            
            {% else %}
      
           <img src="{{ file_url(item.entity.field_menu_items_image.entity.uri.value)}}">{{ link(item.title, item.url, {'class': link_classes}) }}
            {% endif %}
          </div>
          
          {% if item.below %}
           {{menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
     
      {% endfor %}
      </ul>
    {% endif %}
  {% endmacro %}
  
  
  