
        
           <form{{ attributes.addClass('booking-details') }}>
           <div class="row">
                 <div class="col-sm">
                    {{ element.elements.actions }}
                     {{ element.form_token }}
                     {{ element.form_build_id }}
                    {{ element.form_id }}
                    </div>
                 <div class="col-sm">
                {{ element.elements.actions_01 }}
                 {{ element.form_token_01 }}
                    {{ element.form_build_id_01 }}
                    {{ element.form_id }} 
                    </div>
                    </div>
                 </form>
   