<section class="bg-orange20 enquire-by-option">
  <div class="container ptb-200">
    <h3>We organized our experiences
      in a meaningful way:</h3>
<form{{ attributes }}>
    <div class="select-boxes-wrapper">
      <div class="select-boxes">
        {{ element.elements.markup }}	
        <div class="options-block">
          <label for="duration">{{ element.elements.label }}</label>
          {{ element.elements.select_options }}
        </div>
       {{ element.elements.actions }}

      </div>
      <div class="select-boxes">
        {{ element.elements.processed_text }}
        <div class="options-block">
          <label for="character">{{ element.elements.availability	 }}</label>
          
           {{ element.elements.moods_select }}
          
        </div>
         {{ element.elements.actions_01 }}

      </div>
      <div class="select-boxes">
       {{ element.elements.processed_text_1 }}
        <div class="options-block">
          <label for="experiences">{{ element.elements.select_tours_with_the_following_distinctions_ }}</label>
           {{ element.elements.select_tours }}
        </div>
         {{ element.elements.actions_02	 }}
      </div>
      {{ element.form_token }}
         {{ element.form_build_id }}
        {{ element.form_id }}
    </div>
</form>
  </div>
</section>