<section class="contact-form ptb-200" id="contactform">
  <div class="container">
    <div class="row wrapper">
      <div class="col-12">
        <form{{ attributes.addClass('enquriy-form-wrapper best-seller-booking-card secondary') }}>
            <div class="select-items">
                {{element.elements.markup}}
            </div>
            <div class="row">
              <div class="col-12 col-md-5">
                <div class="select-items">
                {{ element.elements.first_name}}
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="select-items">
                {{element.elements.last_name}}
                </div>
              </div>
              <div class="col-12 col-md-2">
                {{ element.elements.actions}} 
              </div>
            </div>
        
        {{ element.form_token }}
        {{ element.form_build_id }}
        {{ element.form_id }}
        </form> 
    </div>
    </div>
  </div>
</section>