<div class="left-block">
    <form{{ attributes }}>
              <div class="select-boxes dark">
               {{ element.elements.markup }}
                <div class="options-block ">
                {{ element.elements.label }}
                   {{ element.elements.hotel_information }}
                </div>
                {{ element.elements.actions }}
              </div>
              {{ element.form_token }}
            {{ element.form_build_id }}
            {{ element.form_id }}
    </form>
</div>
    