<section class="enquriy-form-block ptb-200">
  <div class="container">
    <div class="row wrapper">
      <div class="col-12">
        <div class="form-heading">
           {{ element.elements.form_heading }}
        </div>
      </div>
      <div class="col-12">
        <div class="enquriy-form-wrapper best-seller-booking-card secondary">
          <form{{ attributes }}>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="select-items">
                   {{ element.elements.desired_product_type }}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="select-items">
                  {{ element.elements.you_are_in_the_mood_for_something }}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="select-items">
                  {{ element.elements.first_name }}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="select-items">
                   {{ element.elements.last_name }}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="select-items">
                  {{ element.elements.email }}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="select-items">
                  {{ element.elements.mobile_number	 }}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="select-items">
                  {{ element.elements.country_of_origin }}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="select-items">
                
                {# {% set desired_product_type_options = element.elements.desired_product_type['#options'] %}

                  
                  {% if 'BOAT RENTALS' in desired_product_type_options["boat_rentals"] %}
                 
                   {{element.elements.price_range_per_boat_rental}}
                  
                  
                  {% else %}
                  
                   {{ element.elements.desired_price_range_per_person_ }}
                  {% endif %} #}
                   {{element.elements.price_range_per_boat_rental}}
                   {{ element.elements.desired_price_range_per_person_ }}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="select-items">
                   {{ element.elements.desired_exact_date }}

                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="select-items">
                   {{ element.elements.other_possible_dates }}
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="select-items">
                  {{ element.elements.number_of_adults }}
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="select-items">
                   {{ element.elements.number_of_kids }}
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="select-items">
                   {{ element.elements.number_of_infants }}
                </div>
              </div>
            
              <div class="col-12 col-md-12">
                <div class="select-items">
                  {{ element.elements.hotel_information }}
                </div>
              </div>
              
              <div class="col-12">
                <div class="checkbox-wrapper">
                  <div class="col-12">
                    {{ element.elements.markup_1 }}
                  </div>
                  <div class="checkbox-block">
                     {{ element.elements.agreement }}
                  </div>
                  <div class="checkbox-block">
                     {{ element.elements.agreement1 }}
                  </div>
                  <div class="checkbox-block">
                     {{ element.elements.agreement2 }}
                  </div>
                  {# <div class="terms-conditions">
                     {{ element.elements.text }}
                  </div> #}
                   {{ element.elements.actions }}
                   
                </div>
                   {{ element.form_token }}
                   {{ element.form_build_id }}
                   {{ element.form_id }}
              </div>
            </div>
        </form></div>
        
      </div>
    </div>
  </div>
  </section>