          <form{{ attributes.addClass('booking-details') }}>
        
               {{ element.elements.markup }}
        
            <div class="select-items">
               {{ element.elements.desired_exact_date }}
            </div>
            <div class="select-items">
                {{ element.elements.date_range	 }}
            </div>
            <div class="info">
              <p>This data is just informative (mandatory field)</p>
            </div>
            <div class="select-items">
              {{ element.elements.adult_count }}
            </div>
            <div class="select-items">
             {{ element.elements.kids_no }}
            </div>
             {{ element.elements.kidsmessage }} 
            <div class="select-items">
              {{ element.elements.infants_no }}
            </div>
            {{ element.elements.infants_message }} 
                 <div class="select-items">
             {{ element.elements.desired_time_frame_ }}
             </div>
                 <div class="select-items">
             {{ element.elements.extra_hour_optional_ }}
      
             </div>
            {# <div class="select-items">
             {{ element.elements.preferred_time_of_day_ }}
             </div> #}
            <div class="checkbox-wrapper">
              <div class="checkbox-block">
                   {{ element.elements.booking_gift_check }}
              </div>
              <span class ="green-label">Type beneficiary’s email here (email field box)
          Message: Your friend (the lucky gift recipient) will receive a copy of the e-ticket to hop on their ride. And we'll make sure they know this awesome gift came from you!</span>
              <div class="select-items">
                {{element.elements.email}}
                <span class ="green-label">The email field can appearing when ticking the checkbox or if you think it might be more work to make it appear when ticking the box, placing it a the bottom permanently is totally fine too!</span>
              </div>
              <div class="checkbox-block">
              {{ element.elements.update_me }}
              </div>

              <div class="checkbox-block">
              {{ element.elements.checkbox }}
              </div>

              {{ element.elements.actions_01 }}
           <a href="" class="btn btn-primary" id="private-booking" >Get a quote as private TOUR</a>
                 {{ element.form_token }}
            {{ element.form_build_id }}
            {{ element.form_id }}
            
            </div>
          </form>
   