    <div class="right-block">
            <div class="booking-form-wrapper  best-seller-booking-card ">
        
        <form{{ attributes }}>
            <div class="row">

               
            <div class="col-12 col-md-6">
                    <div class="select-items ">
                      {{ element.elements.first_name }}
                    </div>
                  </div>
              <div class="col-12 col-md-6">
                    <div class="select-items ">
                      {{ element.elements.last_name }}
                    </div>
                  </div>
             
               <div class="col-12 col-md-6">
                    <div class="select-items ">
                  {{ element.elements.email }}
            </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="select-items ">
                      {{ element.elements.mobile_number }}
                    </div>
                  </div>
               <div class="col-12 col-md-12">
                    <div class="select-items ">
                 {{ element.elements.i_want_an }}
                </div>
                </div>
                 <div class="col-12 col-md-6">
                    <div class="select-items ">
                  {{ element.elements.country_of_origin }}
                </div>
                </div>
                  <div class="col-12 col-md-6">
                    <div class="select-items ">
                  {{ element.elements.hotel_name }}
                </div>
                </div>
                  <div class="col-12 col-md-6">
                    <div class="select-items ">
                  {{ element.elements.from }}
                </div>
                </div>
                   <div class="col-12 col-md-6">
                    <div class="select-items ">
                  {{ element.elements.to }}
                </div>
                </div>
                  <div class="col-12 col-md-12">
                    <div class="select-items ">
                  {{ element.elements.guests }}
                </div>
                </div>
                   <div class="col-12 col-md-12">
                    <div class="select-items ">
                  {{ element.elements.your_note }}
                </div>
                </div>

                 
                 {{ element.elements.actions }}
                </div>
       

                  {{ element.form_token }}
                {{ element.form_build_id }}
                {{ element.form_id }}
              </form>
            </div>



          </div>

     