
        
           <form{{ attributes.addClass('booking-details') }}>
           
            <p>
              When & How Many?
            </p>
             
            <div class="select-items">
               {{ element.elements.desired_exact_date }}
            </div>
            <div class="select-items">
                  {# {{ element.elements.other_dates }} #}
                   {{ element.elements.date_range }}
                   
                   
            </div>
            <div class="info">
              <p>Just in case we are full we will contact you,<br>
                this data is just informative.</p>
            </div>
            <div class="select-items">
              {{ element.elements.adult_count }}
            </div>
            <div class="select-items">
             {{ element.elements.kids_no }}

              </select>
            </div>
            <div class="select-items">
              {{ element.elements.infants_no }}
            </div>
            <div class="checkbox-wrapper">
              <div class="checkbox-block">
                   {{ element.elements.booking_gift_check }}
              </div>
              <div class="checkbox-block">
              {{ element.elements.update_me }}
              </div>
                {{ element.elements.actions }}
                 {{ element.form_token }}
            {{ element.form_build_id }}
            {{ element.form_id }}

           
            {# {{ element.elements.actions_01 }}
                 {{ element.form_token_01 }}
            {{ element.form_build_id_01 }}
            {{ element.form_id }} #}
             {# {{ element.elements.update }}
            {{ element.form_id }} #}
            </div>
          </form>
   