<div class="ui-group">
        <div class="filters button-group js-radio-button-group device-type">
        
          {# {{ form.field_bl_target_id }}
          {{form.actions}} #}
           {# {{ dump(form.field_bl_target_id) }} #}
           {# {% for item in form.field_bl_target_id  %}
           {{ dump(item)}}
           {% endfor %} #}

            {{ form.field_bl_target_id }}
            {{form.actions}}
        </div>
      </div>