         
            <div class="distance-field">
         <div class="select-items">
               {{ form.field_duration_value }}
              </div>
              <div class="border-right"></div>
         <div class="select-items">
              {{ form.field_sub_type_target_id }}
              </div>
              <div class="border-right"></div>
                 <div class="select-items">
               {{ form.price__number }}
              </div>
              </div>
              {{ form.created }}
              {{form.actions}}
           
     

 