         
            <div class="distance-field">
                <div class="select-items">
               {{ form.field_relatively_closer_to_target_id }}
              </div>
              <div class="border-right"></div>
     <div class="select-items">
              {{ form.field_mood_target_id }}
              </div>
              <div class="border-right"></div>
            </div>
            <div class="slect-items-wrapper">
              <div class="select-items">
              {{ form.created }}
              </div>
            {# <div class="border-right"></div>
              <div class="select-items">
                {{ form.field_adults_kids_value }}
              </div> #}
            </div>
         
              {{form.actions}}
           
     

 