 {# {{ dd(content) }} #}

 <section class="bg-orange20 enquire-by-option">
  <div class="container ptb-200">
    <h3>We organized our experiences
      in a meaningful way:</h3>

    <div class="select-boxes-wrapper">
    {{content}}
   {# {% for key,item in paragraph.field_block %} 
        {{item}} #}
        {# {{dd(item.entity)}} #}
        {# {{dd(item.content['#paragraph'].field_block.value)}} #}
        {# item.content['#paragraph'].field_is_custom_package.value #}
      {# <div class="select-boxes">
        <h5 class="font20">Depending on your Vacation Schedule</h5>
        <div class="options-block">
          <label for="duration">Duration</label>
          <select class="duration-option" name="duration">
            <option value="0" selected="">Choose</option>
            <option value="0">Half a Day</option>
            <option value="1">Half a Day</option>
            <option value="2">Half a Day</option>
          </select>
        </div>
        <a href="" class="btn btn-secondary">Enquire</a>

      </div>
       #}
     {# {% endfor %} #}
    </div>
  </div>
</section>